<% content_for :title, "Login | VIPReply" %>
<div class="min-h-screen">
  <div class="mx-auto md:px-4 pt-16">
    <div class="flex justify-center mb-8">
      <%= render partial: "marketing/logo" %>
    </div>
    <div class="max-w-lg mx-auto">
      <div class="bg-white rounded-lg shadow-md px-4 md:px-8 py-8">
        <% if flash[:alert] %>
          <p class="bg-red-50 border border-red-200 text-red-700 text-center w-92 text-sm p-2 rounded-lg mb-4">
            <%= flash[:alert] %>
          </p>
        <% end %>
        <h1 class="text-3xl font-bold mb-4 text-stone-900 text-center">Sign in to VIPReply.</h1>
        <div class="mb-3">
          <%= render partial: "shared/google_signin_button", locals: { request_gmail_scopes: false } %>
        </div>
        <p class="text-sm text-stone-500 text-center">
          If you are having trouble signing in,
          <%= link_to "contact support.", "mailto:hello@vipreply.ai", target: "_blank", class: "text-blue-500 hover:text-blue-600 underline" %>
        </p>
      </div>
      <p class="text-sm text-stone-500 text-center my-4">
        Don't have an account yet? <%= link_to "Sign up.", sign_up_path, class: "text-blue-500 hover:text-blue-600 underline" %>
      </p>
    </div>
  </div>
</div>
