<%= form_with model: [@model, @template], id: "referenced_template_form", data: { controller: "regenerate", action: "regenerate#copyQueryToUpdateForm"} do |form| %>
  <%= render 'examples/example_form_inputs', input_errors: [], output_errors: [], form: form %>
  <%= form.hidden_field :save_and_regenerate, value: true %>
  <%= form.hidden_field :query, data: { regenerate_target: "updateQueryField" } %>
  <div class="flex justify-between">
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center gap-2">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
      </svg>
      Save changes and regenerate
    </button>
    <%= link_to new_model_example_path(@model, regenerate: true), data: { turbo_frame: "create_example_modal" }, class: "text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 inline-flex items-center gap-2" do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
      </svg>
      Create new template
    <% end %>
  </div>
<% end %>