<div class="container mx-auto pt-16 px-3">
  <%= render partial: "shared/back", locals: { path: root_path, text: "Models" } %>
  <div class="flex justify-between mb-4">
    <h1 class="text-4xl font-bold text-slate-800"><%= @model.name %></h1>
    <%= link_to model_examples_path(@model), class: "text-gray-900 bg-gray-50 border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-full text-sm px-5 py-2.5 me-2 inline-flex items-center gap-2" do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
      </svg>
      Edit templates
    <% end %>
  </div>
  <div class="flex flex-wrap gap-8" data-controller="regenerate">
    <div class="w-full md:w-[calc(50%-1rem)]">
      <%= form_with url: model_generate_response_path(@model), method: :post do |form| %>
        <%= form.text_area :query, placeholder: "Paste email you want to generate a response for...", required: true, value: @email, data: { regenerate_target: "generateQueryField" }, class: "block p-4 h-40 w-full text-sm text-slate-900 bg-slate-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 resize-none" %>
        <%= form.submit "Generate response", class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 mt-4 mb-4 cursor-pointer" %>
      <% end %>
      <div class="rounded-lg bg-slate-50 p-5 border border-gray-300 text-sm" data-controller="clipboard">
        <h3 class="font-semibold text-slate-500 text-sm mb-2">Generated response</h3>
        <% if @response %>
          <div class="space-y-4">
            <%= simple_format(@response, { class: "text-slate-950" }) %>
          </div>
          <button type="button" data-action="clipboard#copy" data-clipboard-target="source" data-text-to-copy="<%= @response %>" class="inline-flex items-center gap-2 text-white  bg-slate-600 focus:outline-none hover:bg-slate-8co00 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3.5 py-1.5 me-2 mt-5">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
            </svg>
            <span class="mr-2">Copy to clipboard</span>
          </button>
        <% else %>
          <p class="text-slate-400 text-base">
            Your generated response will appear here...
          </p>
        <% end %>
      </div>
    </div>
    <div class="w-full md:w-[calc(50%-1rem)]">
      <% if @response %>
        <h1 class="text-2xl font-semibold text-slate-800">
          Referenced template
        </h1>
        <p class="text-slate-700 mb-5">
          The generated response used this template to provided guidance and structure.
        </p>
        <% if @template %>
          <%= form_with model: [@model, @template], data: { action: "regenerate#copyQueryToExampleForm"} do |form| %>
            <%= render 'examples/example_form_inputs', input_errors: [], output_errors: [], form: form %>
            <%= form.hidden_field :save_and_regenerate, value: true %>
            <%= form.hidden_field :query, value: "Now i guess lol", data: { regenerate_target: "exampleQueryField" } %>
            <div class="flex justify-between">
              <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                </svg>
                Save changes and regenerate
              </button>
              <%= link_to new_model_example_path(@model), data: { turbo_frame: "create_example_modal" }, class: "text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 inline-flex items-center gap-2" do %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
                Create new template
              <% end %>
            </div>
          <% end %>
        <% else %>
          <p class="text-slate-700 mb-5">
            Model doesn't have any templates...
            Add some!
          </p>
        <% end %>
      <% else %>
        <h1 class="text-2xl font-semibold text-slate-800">
          It's quiet here
        </h1>
        <p class="text-slate-700 mb-5">
          Enter a received email, and we'll generate a response for you.
          As you do, this space will be filled with the template that guided the response.
        </p>
        <img src="/images/undraw_empty_street_re_atjq.svg" alt="rss feed" />
      <% end %>
    </div>
  </div>
</div>
<%= turbo_frame_tag "create_example_modal" %>
