<% if topic.templates.any? # Topic eager loads templates in show %>
  <%= form_with url: update_templates_regenerate_reply_topic_path(), id: "template_form" do |form| %>
    <div class="space-y-3">
      <% topic.templates.each_with_index do |template, i| %>
        <div id="template-<%= i %>">
          <% #we need to do error checking on EACH template %>
          <% if output_errors.any? %>
            <ul class="list-disc list-inside text-red-800 text-sm mb-2">
              <% output_errors.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
          <div class="my-2 w-full flex justify-between items-center">
            <%= form.label "templates[#{i}][output]", "Template", class: "font-medium text-gray-600 text-sm" %>
            <%= link_to "Remove", remove_template_topic_path(topic, template),
              data: { turbo_method: :delete },
              class: "rounded-lg bg-gray-100 px-2 py-1 text-xs hover:bg-red-100 hover:text-red-600 flex items-center gap-1.5 text-gray-700 font-medium" %>
          </div>
          <%= form.text_area "templates[#{i}][output]",
              value: template.output,
              rows: 1,
              placeholder: "Write a template response email here",
              data: { controller: "textbox-autoresize" },
              autocomplete: "off",
              class: "block border border-gray-200 px-4 py-3 w-full text-sm text-gray-900 bg-gray-100 rounded-lg focus:outline-none focus:border-blue-500 resize-none" %>
          <%= form.hidden_field "templates[#{i}][id]", value: template.id %>
        </div>
      <% end %>
    </div>
    <%= form.hidden_field :regenerate_reply, value: true %>
    <%= form.hidden_field :topic_id, value: topic.id %>
    <div class="flex justify-start my-5">
      <button type="submit" class="text-white bg-slate-700 hover:bg-slate-800 focus:ring-4 focus:outline-none focus:ring-slate-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
        </svg>
        <% if topic.templates.one? %>
          Save template and regenerate reply
        <% else %>
          Save templates and regenerate reply
        <% end %>
      </button>
    </div>
  <% end %>
<% else %>
  <div id="template_form">
    <div class="border-2 border-dashed border-gray-300 rounded-lg flex justify-center gap-2 items-center p-3 mb-2 text-gray-500">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 8.25V6a2.25 2.25 0 0 0-2.25-2.25H6A2.25 2.25 0 0 0 3.75 6v8.25A2.25 2.25 0 0 0 6 16.5h2.25m8.25-8.25H18a2.25 2.25 0 0 1 2.25 2.25V18A2.25 2.25 0 0 1 18 20.25h-7.5A2.25 2.25 0 0 1 8.25 18v-1.5m8.25-8.25h-6a2.25 2.25 0 0 0-2.25 2.25v6" />
      </svg>
      <p>No templates are selected.</p>
    </div>
    <div class="flex justify-start mt-4 mb-4">
      <%= button_to update_templates_regenerate_reply_topic_path(topic), method: :get, class: "text-white bg-slate-700 hover:bg-slate-800 focus:ring-4 focus:outline-none focus:ring-slate-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center gap-2" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
        </svg>
        <% if topic.generated_reply.empty? %>
          Generate reply
        <% else %>
          Regenerate reply
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
