<%= render 'shared/navbar' %>
<div class="bg-gray-100 border-b border-gray-200 min-h-[41px]">
  <div class="container mx-auto px-3 flex align-center text-slate-500 divide-x divide-gray-300 pb-2">
    <%= link_to root_path, class: "flex items-center bg-gray-50 border border-gray-200 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 rounded-lg px-2 py-0.5 me-3" do %>
      <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
      </svg>
      <p class="pl-2 font-medium">Inbox</p>
    <% end %>
    <div>
      <p class="text-lg text-slate-600 font-semibold ms-3"><%= @topic.subject %></p>
    </div>
  </div>
</div>
<div class="container mx-auto px-3">
  <div class="mt-2 flex flex-wrap gap-8">
    <div class="w-full md:w-[calc(50%-1rem)]" data-controller="iframe-resize">
      <ul class="divide-y divide-y-gray-300">
        <% @messages.each do |message| %>
          <li class="pt-4 pb-5">
            <div class="flex justify-between">
              <p class="text-slate-700 font-semibold truncate"><%= message.from %></p>
              <p class="text-slate-500 whitespace-nowrap ms-2">
                <% if message.date.to_date == Date.today %>
                  <%= message.date.strftime("%l:%M %p") %>
                <% else %>
                  <%= message.date.strftime("%b %d") %>
                <% end %>
              </p>
            </div>
            <p class="text-slate-500 truncate"> to <%= message.to %></p>
            <div class="mt-2">
              <div class="text-center" data-iframe-resize-target="loader">
                <div role="status">
                  <svg class="animate-spin h-8 w-8 text-gray-400 inline" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                  </svg>
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
              <iframe 
              srcdoc="<%= message.replace_cids_with_urls request.base_url %>" 
              sandbox="allow-same-origin"
              class="w-full hidden  rounded bg-white"
              data-iframe-resize-target="iframe">
              </iframe>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="w-full mt-4 md:w-[calc(50%-1rem)]">
      <h1 class="text-2xl font-semibold text-slate-800">
        Referenced template
      </h1>
      <p class="text-slate-700 mb-5">
        The generated response used this template to provided guidance and structure.
      </p>
      <% if @template %>
        <%= render "referenced_template_form" %>
      <% else %>
        <p class="text-slate-700 mb-5">
          Model doesn't have any templates...
          Add some!
        </p>
      <% end %>
    </div>
  </div>
</div>