<% content_for :title, "#{@topic.subject} | VIPReply" %>
<%= render partial: "shared/header_with_back", locals: {
  back_path: inbox_path,
  back_text: "Inbox",
  back_data: (@from_inbox ? { controller: :navigation, action: "navigation#back" } : {}),
  title: @topic.subject
} %>
<div class="container mx-auto px-3">
  <div class="flex flex-wrap lg:gap-8">
    <!-- Left column: templates, new buttons, and forms -->
    <div class="w-full lg:w-[calc(50%-1rem)] relative flex flex-col order-2 lg:order-1" id="template">
      <div class="sticky overflow-y-auto lg:pb-16" style="top: <%= @account&.trialing? ? 88 : 51 %>px; height: calc(100vh - <%= @account&.trialing? ? 88 : 51 %>px)"> <!-- sticks at 88 when trial message shows and 51 otherwise -->
        <%= render partial: "left_column" %>
      </div>
    </div>
    <!-- Right column: messages list -->
    <div class="w-full lg:w-[calc(50%-1rem)] order-1 lg:order-2">
      <ul class="lg:pb-14 pb-4">
        <% @messages.each_with_index do |message, index| %>
          <li id="<%= dom_id(message) %>" class="mt-3 mb-4 border border-stone-200 bg-white rounded-lg">
            <div class="p-2 text-sm">
              <div class="flex justify-between">
                <p class="truncate">
                  <span class="text-stone-600 font-semibold"><%= message.from_name %></span> <span class="text-stone-500"><%= h("<") %><%= message.from_email %><%= h(">") %></span>
                </p>
                <p class="text-stone-500 whitespace-nowrap ms-2">
                  <% if message.date.to_date == Date.today %>
                    <%= message.date.strftime("%l:%M %p") %>
                  <% else %>
                    <%= message.date.strftime("%b %d") %>
                  <% end %>
                </p>
              </div>
              <p class="text-stone-500 truncate"> to <%= message.to %></p>
              <% file_attachments = message.get_file_attachments %>
              <% if file_attachments.any? %>
                <div class="flex flex-wrap gap-x-1 mt-1">
                  <% file_attachments.each do |attachment| %>
                    <%= link_to attachment_path(attachment), target: "_blank", class: "text-stone-600 bg-white border border-stone-200 focus:outline-none hover:bg-stone-100 hover:border-stone-300 focus:ring-2 focus:ring-stone-100 font-medium rounded-lg text-sm py-1 px-2 inline-flex items-center gap-1" do %>
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244" />
                      </svg>
                      <%= attachment.filename %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="border-t border-stone-200">
              <!-- iframes are used to isolate email code -->
              <!-- Why??? I do not trust myself to securely sanitize emails -->
              <!-- Yes. this makes the user experience worse -->
              <!-- More: https://security.stackexchange.com/a/134587 -->
              <!-- data-turbo-permanent requires a unique ID to match elements across morphs -->
              <iframe
                id="message-iframe-<%= message.id %>"
                srcdoc="<%= message.prepare_email_for_rendering request.base_url, index %>"
                sandbox="allow-same-origin allow-popups allow-popups-to-escape-sandbox"
                class="w-full rounded-b-lg h-0"
                data-controller="iframe-resize"
                data-turbo-permanent
                <%= "data-last-message" if @messages.last == message %>>
              </iframe>
            </div>
          </li>
        <% end %>
      </ul>
              </div>
            </div>
          </div>
