<div class="sticky top-0 z-10">
  <% if @account.trialing? %>
    <div class="bg-stone-200 text-stone-700 py-2 text-center text-sm border-b border-stone-300">
      You have <span class="font-medium"><%= pluralize(@account.trial_days_remaining, 'day') %></span> left in your free trial.
      <%= link_to checkout_plans_path, data: { turbo: false }, class: "font-medium underline" do %>Pick a plan for $0<% end %> to secure a launch discount.
    </div>
  <% end %>
  <div class="bg-stone-100 border-b border-stone-200">
    <div class="container mx-auto px-3 flex justify-between h-[50px] items-center">
      <%= left_side.html_safe %>
      <div class="flex gap-4 items-center">
        <el-dropdown class="inline-block">
          <button class="flex items-center focus:outline-none hover:bg-stone-100 focus:ring-4 focus:ring-stone-100 rounded-lg gap-1 font-medium cursor-pointer">
            <span class="inline-flex size-8 items-center justify-center rounded-full bg-stone-200 outline -outline-offset-1 outline-black/5">
              <span class="text-sm font-medium text-stone-700"><%= @account.first_name&.match(/[a-zA-Z]/)&.to_s %></span>
            </span>
          </button>
          <el-menu anchor="bottom end" popover class="w-56 origin-top-right divide-y divide-stone-100 rounded-md bg-white shadow-lg outline-1 outline-black/5 transition transition-discrete [--anchor-gap:--spacing(2)] data-closed:scale-95 data-closed:transform data-closed:opacity-0 data-enter:duration-100 data-enter:ease-out data-leave:duration-75 data-leave:ease-in">
            <div class="px-4 py-3">
              <p class="truncate text-sm font-medium text-stone-900"><%= @account.name %></p>
              <p class="truncate text-xs text-stone-500"><%= @account.email %></p>
            </div>
            <div class="py-1">
              <%= link_to "Settings", settings_path, class: "block px-4 py-2 text-sm text-stone-700 focus:bg-stone-100 focus:text-stone-900 focus:outline-hidden" %>
              <a href="mailto:hello@vipreply.ai" class="block px-4 py-2 text-sm text-stone-700 focus:bg-stone-100 focus:text-stone-900 focus:outline-hidden">Support</a>
            </div>
            <div class="py-1">
              <%= link_to logout_path, data: { turbo_method: :delete }, class: "block px-4 py-2 text-sm text-stone-700 focus:bg-stone-100 focus:text-stone-900 focus:outline-hidden" do %>
                Sign out
              <% end %>
            </div>
          </el-menu>
        </el-dropdown>
      </div>
    </div>
  </div>
</div>
