<% content_for :title, "VIPReply | Answer customer emails 3x faster" %>
<%= render 'marketing/marketing_header' %>
<section class="pt-40 px-4 flex justify-center mx-auto">
  <div>
    <h1 class="text-3xl md:text-5xl text-center font-extrabold mb-6 text-stone-800 max-w-2.5xl">
      Answer customer emails 3x faster.
    </h1>
    <div class="flex justify-center">
      <div>
        <p class="text-xl text-stone-700">
          Supercharging one-person support teams:
        </p>
        <ul class="text-xl list-disc list-inside text-stone-600 mt-3 mb-5">
          <li>Connect to Gmail</li>
          <li>Every reply trains your own AI</li>
          <li>Over time, AI learns your business</li>
        </ul>
        <%= render 'shared/google_signin_button', prompt_consent: false, request_gmail_scopes: false %>
        <%= link_to "Watch demo", "https://youtu.be/xX-67I9D3Lo", target: "_blank",
              class: "w-full mt-3 text-stone-600 border border-stone-300 bg-white hover:bg-stone-100 font-medium rounded-lg text-base px-8 py-3 text-center justify-center inline-flex items-center gap-2 hover:cursor-pointer" %>
      </div>
    </div>
  </div>
</section>
<section class="py-20">
  <div class="max-w-5xl mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="p-6 border border-stone-200 bg-stone-100/50 rounded-lg">
        <h3 class="text-xl font-medium mb-4 text-stone-600">Before <span class="tracking-tight">VIPReply</span></h3>
        <ol class="list-none space-y-4">
          <li class="text-stone-700 flex gap-2 items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            <p>Answer the same questions over and over</p>
          </li>
          <li class="text-stone-700 flex gap-2 items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            <p>Slow and curt replies lose customers</p>
          </li>
          <li class="text-stone-700 flex gap-2 items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            <p>Chatbots require manual setup and maintenance</p>
          </li>
        </ol>
      </div>
      <div class="p-6 border border-stone-200 bg-stone-100/50 rounded-lg">
        <h3 class="text-xl font-medium mb-4 text-stone-600">After <span class="tracking-tight">VIPReply</span></h3>
        <ol class="list-none space-y-4">
          <li class="text-stone-700 flex gap-2 items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            <p>Answer repetitive emails with a click</p>
          </li>
          <li class="text-stone-700 flex gap-2 items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            <p>Fast and personal replies win customers</p>
          </li>
          <li class="text-stone-700 flex gap-2 items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            <p>VIPReply learns from your past replies</p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="mb-20">
  <div class="mx-auto max-w-5xl px-4">
    <h2 class="text-4xl font-bold mb-2 text-center text-stone-800">Send, send, send</h2>
    <p class="text-xl mb-6 text-center text-stone-700">VIPReply lets you breeze through customers by generating personalized replies.</p>
    <%= image_tag('product_demo.png', alt: 'A product demo for VIPReply.', class: 'border border-stone-200 rounded-lg') %>
  </div>
</section>
<section class="px-6 lg:px-8">
  <figure class="mx-auto max-w-2xl">
    <p class="sr-only">5 out of 5 stars</p>
    <div class="flex gap-x-1 text-yellow-500/80">
      <svg class="size-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
        <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z" clip-rule="evenodd" />
      </svg>
      <svg class="size-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
        <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z" clip-rule="evenodd" />
      </svg>
      <svg class="size-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
        <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z" clip-rule="evenodd" />
      </svg>
      <svg class="size-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
        <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z" clip-rule="evenodd" />
      </svg>
      <svg class="size-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
        <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z" clip-rule="evenodd" />
      </svg>
    </div>
    <blockquote class="mt-10 text-xl/8 font-semibold tracking-tight text-stone-900 sm:text-2xl/9">
      <p>"I have been using VIPReply for the last 6 months for an airport parking lot. I used to struggle to be consistent answering customer questions. VIPReply has made the process 10 times easier and more enjoyable."</p>
    </blockquote>
    <figcaption class="mt-10 flex items-center gap-x-6">
      <%= image_tag "cathy_testimonial.jpg", class: "size-12 rounded-full bg-stone-200", alt: "Cathy Testimonial" %>
      <div class="text-sm/6">
        <div class="font-semibold text-stone-900">Cathy</div>
        <div class="mt-0.5 text-stone-600">Midway Park Saver</div>
      </div>
    </figcaption>
  </figure>
</section>
<section>
  <div class="mx-auto container pt-24 sm:px-6 sm:py-24 lg:px-8">
    <div class="relative isolate overflow-hidden bg-stone-900 px-6 py-24 text-center shadow-2xl sm:rounded-3xl sm:px-16">
      <h2 class="text-balance text-2xl font-semibold tracking-tight text-white sm:text-5xl">Fly through your replies for just $19/month.</h2>
      <p class="mx-auto mt-6 max-w-xl text-pretty text-lg/8 text-stone-300">30 day free trial. No credit card required. Cancel anytime.</p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="#" class="rounded-md text-lg bg-white px-3.5 py-2.5 text font-semibold text-stone-900 shadow-sm hover:bg-stone-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white"> Try for free </a>
        <a href="#" class="font-semibold text-lg text-white">
          Book a demo
          <span aria-hidden="true">→</span>
        </a>
      </div>
      <svg viewBox="0 0 1024 1024" class="absolute left-1/2 top-1/2 -z-10 size-[64rem] -translate-x-1/2 [mask-image:radial-gradient(closest-side,white,transparent)]" aria-hidden="true">
        <circle cx="512" cy="512" r="512" fill="url(#827591b1-ce8c-4110-b064-7cb85a0b1217)" fill-opacity="0.7" />
        <defs>
          <radialGradient id="827591b1-ce8c-4110-b064-7cb85a0b1217">
            <stop stop-color="#7775D6" />
            <stop offset="1" stop-color="#713f12" />
          </radialGradient>
        </defs>
      </svg>
    </div>
  </div>
</div>
</section>
<%= render partial: 'marketing/marketing_footer' %>
