<%= turbo_frame_tag "create_example_modal" do %>
  <div data-controller="turbo-modal" data-action="turbo:submit-end->turbo-modal#submitEnd" class="fixed inset-0 flex items-center justify-center bg-gray-500 bg-opacity-50">
    <div class="relative p-4 w-full max-w-lg max-h-full">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow">
        <!-- Modal header -->
        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
          <h3 class="text-lg font-semibold text-gray-900">
            Create new example
          </h3>
          <button type="button" data-action="turbo-modal#hideModal" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-toggle="crud-modal">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 23 23" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <!-- Modal body -->
        <%= form_with model: [@model, @example], class:"p-4 md:p-5" do  |form| %>
          <div class="grid gap-4 mb-4 grid-cols-2">
            <div class="col-span-2">
              <%= form.label :input, "Example email", class: ["block text-sm font-medium text-gray-900", (@input_errors.empty? ? "mb-2" : "text-red-800")] %>
              <ul class="list-disc list-inside text-red-800 text-sm mb-2">
                <% @input_errors.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
              <%= form.text_area :input, rows: 6, placeholder: "Write your example email here", class: "block p-4 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" %>
            </div>
            <div class="col-span-2">
              <%= form.label :output, "Example email", class: ["block text-sm font-medium text-gray-900", (@output_errors.empty? ? "mb-2" : "text-red-800")] %>
              <ul class="list-disc list-inside text-red-800 text-sm mb-2">
                <% @output_errors.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
              <%= form.text_area :output, rows: 6, placeholder: "Write your example response here", class: "block p-4 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" %>
            </div>
          </div>
          <button type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
            <svg class="me-1 -ms-1 w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
            Create example
          </button>
        <% end %>
      </div>
    </div>
  </div>
<% end %>