<div class="container mx-auto px-3">
  <%= render 'shared/navbar' %>
  <div class="flex justify-between">
    <h1 class="text-4xl font-bold text-slate-800">Inbox</h1>
    <%= link_to templates_path, class: "text-gray-900 bg-gray-50 border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-full text-sm px-5 py-2.5 inline-flex items-center gap-2" do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
      </svg>
      Edit templates
    <% end %>
  </div>
  <% if @inbox %>
    <h1 class="font-bold text-slate-400 text-sm mt-4 uppercase">Needs a reply</h1>
    <ul class="divide-y divide-slate-300">
      <% @to_do_topics.each do |topic| %>
        <li class="py-2">
          <%= link_to topic_path(topic), class: "group/model" do %>
            <div class="flex justify-between items-center gap-3">
              <div class="flex items-center gap-1">
                <p class="text-slate-800 text-lg group-hover/model:text-blue-500 underline"><%= topic.subject %></p>
                <% if topic.message_count > 1 %>
                  <p class="text-slate-500 text-lg group-hover/model:text-blue-500">(<%= topic.message_count %>)</p>
                <% end %>
              </div>
              <span class="text-slate-400 flex items-center whitespace-nowrap group-hover/model:text-blue-500">
                <% if topic.date.to_date == Date.today %>
                  <%= topic.date.strftime("%l:%M %p") %>
                <% else %>
                  <%= topic.date.strftime("%b %d") %>
                <% end %>
              </span>
            </div>
            <div class="truncate">
              <p class="text-slate-500 group-hover/model:text-blue-500 truncate">
                <%= topic.from == @account.email ? "Me → #{topic.to}" : topic.from %> — <%= topic.snippet.html_safe %>
              </p>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
    <h1 class="font-bold text-slate-400 text-sm mt-4 uppercase">Waiting for customer</h1>
    <ul class="divide-y divide-slate-300">
      <% @done_topics.each do |topic| %>
        <li class="py-2">
          <%= link_to topic_path(topic), class: "group/model" do %>
            <div class="flex justify-between items-center gap-3">
              <div class="flex items-center gap-1">
                <p class="text-slate-500 text-lg group-hover/model:text-blue-400"><%= topic.subject %></p>
                <% if topic.message_count > 1 %>
                  <p class="text-slate-400 text-lg group-hover/model:text-blue-400">(<%= topic.message_count %>)</p>
                <% end %>
              </div>
              <span class="text-slate-400 flex items-center whitespace-nowrap group-hover/model:text-blue-400">
                <% if topic.date.to_date == Date.today %>
                  <%= topic.date.strftime("%l:%M %p") %>
                <% else %>
                  <%= topic.date.strftime("%b %d") %>
                <% end %>
              </span>
            </div>
            <div class="truncate">
              <p class="text-slate-400 group-hover/model:text-blue-400 truncate">
                <%= topic.from == @account.email ? "Me → #{topic.to}" : topic.from  %> — <%= topic.snippet.html_safe %>
              </p>
            </div>
          <% end %>
        </li>
      <% end %>
    <% else %>
      <p>You don't have an inbox connected.</p>
    <% end %>
  </div>
