<% content_for :title, "Inbox | VIPReply" %>
<%= render 'shared/header_with_tabs', selected_page: "inbox" %>
<div class="container mx-auto px-3">
  <% if @inbox.initial_import_jobs_remaining.nonzero? %>
    <div class="w-full border border-blue-200/90 bg-blue-50/90 text-blue-700/90 rounded-lg mt-3 py-3 px-4 items-center flex gap-3">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 animate-spin">
        <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
      </svg>
      <% if @inbox.initial_import_jobs_remaining == -1 %>
        <p>Importing your inbox &mdash; refresh to update.</p>
      <% else %>
        <p>Importing <%= @inbox.initial_import_jobs_remaining %> email threads &mdash; refresh to update.</p>
      <% end %>
    </div>
  <% end %>
  <% if @needs_reply_topics.empty? %>
    <div class="flex justify-center items-center flex-col my-36">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 text-yellow-500/80">
        <path fill-rule="evenodd" d="M9 4.5a.75.75 0 0 1 .721.544l.813 2.846a3.75 3.75 0 0 0 2.576 2.576l2.846.813a.75.75 0 0 1 0 1.442l-2.846.813a3.75 3.75 0 0 0-2.576 2.576l-.813 2.846a.75.75 0 0 1-1.442 0l-.813-2.846a3.75 3.75 0 0 0-2.576-2.576l-2.846-.813a.75.75 0 0 1 0-1.442l2.846-.813A3.75 3.75 0 0 0 7.466 7.89l.813-2.846A.75.75 0 0 1 9 4.5ZM18 1.5a.75.75 0 0 1 .728.568l.258 1.036c.236.94.97 1.674 1.91 1.91l1.036.258a.75.75 0 0 1 0 1.456l-1.036.258c-.94.236-1.674.97-1.91 1.91l-.258 1.036a.75.75 0 0 1-1.456 0l-.258-1.036a2.625 2.625 0 0 0-1.91-1.91l-1.036-.258a.75.75 0 0 1 0-1.456l1.036-.258a2.625 2.625 0 0 0 1.91-1.91l.258-1.036A.75.75 0 0 1 18 1.5ZM16.5 15a.75.75 0 0 1 .712.513l.394 1.183c.15.447.5.799.948.948l1.183.395a.75.75 0 0 1 0 1.422l-1.183.395c-.447.15-.799.5-.948.948l-.395 1.183a.75.75 0 0 1-1.422 0l-.395-1.183a1.5 1.5 0 0 0-.948-.948l-1.183-.395a.75.75 0 0 1 0-1.422l1.183-.395c.447-.15.799-.5.948-.948l.395-1.183A.75.75 0 0 1 16.5 15Z" clip-rule="evenodd" />
      </svg>
      <p class="text-stone-700">All customers have a reply!</p>
    </div>
  <% else %>
    <h1 class="font-bold text-stone-400 text-sm mt-6 uppercase">Requires action</h1>
    <ul class="divide-y divide-stone-300">
      <% @needs_reply_topics.each do |topic| %>
        <li class="py-2">
          <%= link_to topic_path(topic), class: "group/model relative block" do %>
            <div class="absolute right-0 top-0 bottom-0 hidden group-hover/model:flex z-10 items-center">
              <div class="bg-gradient-to-l from-stone-50 to-transparent w-16 h-full pointer-events-none">
              </div>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="bg-gray-50 h-full text-stone-500 size-5">
                <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
              </svg>
            </div>
            <div class="flex justify-between items-center gap-3">
              <div class="flex items-center gap-1">
                <p class="text-stone-800 text-lg group-hover/model:text-blue-500"><%= topic.subject %></p>
                <% if topic.message_count > 1 %>
                  <p class="text-stone-500 text-lg group-hover/model:text-blue-500">(<%= topic.message_count %>)</p>
                <% end %>
              </div>
              <span class="text-stone-500 flex items-center whitespace-nowrap group-hover/model:text-blue-500">
                <% if topic.date.to_date == Date.today %>
                  <%= topic.date.strftime("%l:%M %p") %>
                <% else %>
                  <%= topic.date.strftime("%b %d") %>
                <% end %>
              </span>
            </div>
            <div class="truncate">
              <p class="text-stone-500 group-hover/model:text-blue-500 truncate">
                <%= display_sender(topic, @account.email) %> — <%= topic.snippet.html_safe %>
              </p>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <% unless @has_reply_topics.empty? %>
    <h1 class="font-bold text-stone-400 text-sm mt-4 uppercase">Caught up</h1>
    <ul class="divide-y divide-stone-300">
      <% @has_reply_topics.each do |topic| %>
        <li class="py-2">
          <%= link_to topic_path(topic), class: "group/model" do %>
            <div class="flex justify-between items-center gap-3">
              <div class="flex items-center gap-1">
                <p class="text-stone-500 text-lg group-hover/model:text-blue-500"><%= topic.subject %></p>
                <% if topic.message_count > 1 %>
                  <p class="text-stone-500 text-lg group-hover/model:text-blue-500">(<%= topic.message_count %>)</p>
                <% end %>
              </div>
              <span class="text-stone-400 flex items-center whitespace-nowrap group-hover/model:text-blue-500">
                <% if topic.date.to_date == Date.today %>
                  <%= topic.date.strftime("%l:%M %p") %>
                <% else %>
                  <%= topic.date.strftime("%b %d") %>
                <% end %>
              </span>
            </div>
            <div class="truncate">
              <p class="text-stone-400 group-hover/model:text-blue-500 truncate">
                <%= display_sender(topic, @account.email) %> — <%= topic.snippet.html_safe %>
              </p>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
